<div class="container">
    <h4>Your Job Applications</h4>
    <a href="#" class="btn right-align blue darken-1">Add Application +</a>
    <table class="striped responsive-table centered">
        <thead>
          <tr>
              <th>Company</th>
              <th>Status</th>
              <th>Details / Edit</th>
          </tr>
        </thead>

        <tbody>
        <% @applications.each do |application| %>
          <tr>
            <td><%= application.company.name %></td>
            <td><%= application.status %></td>
            <td><%= link_to "Details / Edit", job_application_path(application) %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
</div>