<div class="container">
    <h4><%= @application.company.name %> Application</h4>
    <h5>Last Updated: <%= @application.updated_at %></h5>
    <h5><h5>Status: <%= @application.status %></h5></h5>
</div>